* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.btn-main,
.btn-main-bg {
    padding: 12px 20px;
    background-color: #343148;
    color: #FFF;
    border: 0;
    margin: 0;
    font-weight: 500;
    transition: .3s;
}

.btn-mainy {
    padding: 12px 20px;
    background-color: #DDD;
    color: #343148;
    border: 0;
    margin: 0;
    font-weight: 500;
    transition: .3s;
}

.btn-mainx {
    padding: 12px 15px;
    background-color: #FFF;
    border: 1px solid #ccc;
    color: rgb(0, 0, 0);
    margin: 0;
    transition: .3s;
    font-size: 16px;
    margin: 5px;
}

.btn-mainx:hover {
    background-color: #343148;
    color: #FFF;
}

.btn-main:hover {
    background-color: #DDD;
    color: #343148;
}

.btn-main-bg:hover {
    background-color: #FFF;
    color: #343148;
}

.btn-mainy:hover {
    background-color: #343148;
    color: #FFF;
}


/* start arrow */

.arrow {
    position: fixed;
    right: -100px;
    bottom: 20px;
    height: 50px;
    transition: .5s;
    z-index: 10;
}

.postion {
    position: absolute;
    z-index: -200;
    top: 0;
}

.right {
    right: 20px;
}


/* end arrow */


/* start top bar */

.top-bar {
    padding: 0 65px;
    background: #343148;
    color: #FFF;
    height: 35px;
    display: flex;
    align-items: center;
}

.top-bar .row>div:first-child {
    display: flex;
}

.top-bar .row>div:first-child div {
    display: flex;
    align-items: center;
    position: relative;
    top: -1px;
    padding: 5px 10px;
    font-size: 15px;
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .row>div:first-child div:last-child {
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .row>div:first-child div i {
    margin: 0 5px 0 0;
}

.top-bar .row>div:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .row>div:last-child .icon i {
    width: 35px;
    height: 37px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: -1px;
    margin: 0 -2px;
    border-left: 1px solid rgba(255, 255, 255, .15);
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.top-bar .row>div:last-child .icon i:hover {
    color: #343148;
    background-color: #FFF;
}

.top-bar .row>div:last-child .icon i:last-child {
    border-right: 1px solid rgba(255, 255, 255, .15);
}


/* end top bar */


/* start navbar */

nav {
    background: rgba(0, 0, 0, .1) !important;
    height: 80px;
    position: absolute !important;
    width: 100%;
    transition: .6s;
    z-index: 100;
}

nav>.child-navbar {
    padding: 0 70px;
    transition: 1s;
}

nav>.child-navbar .navbar-brand {
    font-size: 42px;
    font-weight: bolder;
    color: #FFF;
    margin-right: 30px;
}

nav>.child-navbar .navbar-brand:hover {
    color: #FFF;
}

nav>.child-navbar .navbar-brand span {
    color: #343148;
}

nav .collapse ul li {
    text-transform: uppercase;
    padding: 0 5px;
}

nav .collapse ul li.active {
    background: rgba(256, 256, 256, .1);
}

nav .collapse ul li:hover {
    background: rgba(256, 256, 256, .1);
}

nav .collapse ul li:hover a {
    color: #FFF !important;
}

nav .collapse ul li.active a {
    color: #FFF !important;
}

nav .collapse ul li a {
    color: rgb(255, 255, 255) !important;
    transition: 0s;
}

.top {
    position: fixed !important;
    top: 0;
    height: 65px;
    transition-delay: position 1s !important;
}

.top .child-navbar {
    background-color: #343148 !important;
    height: 65px;
}

.top .child-navbar .navbar-brand span {
    color: #FFF !important;
}

nav .collapse ul li.ac {
    width: 85px;
}

@media (max-width:992px) {
    nav .collapse ul li.ac {
        width: 100%;
    }
    nav>.child-navbar,
    nav {
        background-color: #343148 !important;
    }
    nav>.child-navbar {
        padding: 0 20px;
    }
    .top-bar {
        padding: 0 10px;
    }
    nav>.child-navbar .navbar-brand span {
        color: #FFF;
    }
    nav .collapse ul li {
        transition: .3s;
        padding: 0 8px;
    }
    nav .collapse ul li a {
        color: #FFF !important;
        font-weight: 500;
    }
    .top {
        position: fixed !important;
        top: 0;
        height: auto;
    }
    .top .child-navbar {
        background-color: #343148 !important;
        height: auto;
    }
}

@media (max-width:768px) {
    .top-bar {
        display: none;
    }
}


/* end navbar */


/* start Yoga */

.Yoga {
    background: #F7CAC9;
    padding: 55px 0;
}

.Yoga>div {
    padding: 0 20px 0 65px;
}

.Yoga h1 {
    font-size: 65px;
    color: #343148;
    font-weight: 800;
}

.Yoga p {
    font-size: 19px;
}

.Yoga img {
    width: 85%;
    height: 100%;
}

.Yoga>div>div>div+div {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.Yoga button {
    padding: 12px 20px;
    background-color: #343148;
    color: #FFF;
    border: 0;
    margin: 0 5px;
    font-weight: 500;
    transition: .3s;
}

.Yoga button:hover {
    background-color: #FFF;
    color: #343148;
    font-weight: 500;
}

@media (max-width:992px) {
    .Yoga>div {
        padding: 10px 20px;
    }
    .Yoga h1 {
        font-size: 35px;
    }
    .Yoga p {
        font-size: 18px;
    }
    .Yoga {
        padding: 70px 0;
    }
}

@media (max-width:706px) {
    .Yoga img {
        display: none;
    }
    .Yoga>div>div>div {
        padding: 50px 0;
    }
    .Yoga>div>div>div+div {
        display: none;
    }
}


/* end Yoga */


/* start about */

.about {
    padding: 50px 0;
    background-color: #FFF;
}

.about img {
    width: 100%;
}

.about .info>div {
    position: relative;
    width: 240px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.about .info>div::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 15px;
    height: 3px;
    left: 0;
    z-index: 1;
    background-color: #F7CAC9;
}

.about .info>div p {
    opacity: .9;
    font-weight: 500;
    position: relative;
    width: 160px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
    color: rgb(158, 112, 112);
    background-color: #FFF;
}

.about h2 {
    font-size: 40px;
    margin: 10px 0 40px 0;
    color: #343148;
    font-weight: 900;
}

.about p {
    opacity: .7;
    font-size: 18px;
}

@media (max-width:800px) {
    .about {
        padding: 0 50px;
    }
}

@media (max-width:567px) {
    .about {
        padding: 0;
    }
    .about .info {
        margin-top: 20px;
    }
    .about p {
        font-size: 16px;
    }
}


/* end about */


/* start health */

.health {
    background-color: #FFF;
}

.health div .bacgound {
    position: relative;
    width: 240px;
    margin: auto;
}

.health div .bacgound::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 15px;
    height: 3px;
    left: 0;
    z-index: 1;
    background-color: #F7CAC9;
}

.health div p:first-child {
    opacity: .9;
    font-weight: 500;
    position: relative;
    width: 160px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    margin: auto;
    color: rgb(158, 112, 112);
    background-color: #FFF;
}

.health h2 {
    font-size: 40px;
    margin: 10px 0 40px 0;
    color: #343148;
    font-weight: 900;
}

.health .figer {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    padding: 0 20px;
    transition: .7s;
    margin: 10px;
    justify-content: space-around;
    color: #797979;
    border: 1px solid #F7CAC9;
}

.health .figer:nth-child(2) {
    background-color: #343148;
    color: #FFF;
    cursor: pointer;
}

.health .figer:nth-child(2) h3 {
    color: #FFF
}

.health .figer:hover {
    background-color: #343148;
    color: #FFF;
    cursor: pointer;
}

.health .figer:hover h3 {
    color: #FFF;
}

.health .figer h3 {
    color: #000;
    transition: .7s;
}

.health .figer p {
    font-size: 20px;
    font-weight: 500;
    opacity: .8;
}


/* end health */


/* start our-classes */

.our-classes {
    background-color: #FFF;
    padding: 50px 0;
}

.our-classes div .bacgound {
    position: relative;
    width: 240px;
    margin: auto;
}

.our-classes div .bacgound::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 15px;
    height: 3px;
    left: 0;
    z-index: 1;
    background-color: #F7CAC9;
}

.our-classes div p:first-child {
    opacity: .9;
    font-weight: 500;
    position: relative;
    width: 160px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    margin: auto;
    color: rgb(158, 112, 112);
    background-color: #FFF;
}

.our-classes h2 {
    font-size: 40px;
    margin: 10px 0 40px 0;
    color: #343148;
    font-weight: 900;
    text-align: center;
}

.our-classes button.buttons {
    background-color: transparent;
    padding: 8px 20px;
    border: 1px solid #343148;
    margin: 0 5px;
    transition: .3s;
    display: inline-block !important;
}

.our-classes button.buttons:hover {
    background-color: #343148;
    color: #FFF;
}

.our-classes button.buttons.active {
    background-color: #343148;
    color: #FFF;
}

.our-classes .yooga-figuer {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #F7CAC9;
    padding-bottom: 20px;
    margin: 10px;
    box-shadow: 0 0 20px 2px rgb(221, 220, 220);
}

.our-classes .yooga-figuer:hover div:nth-child(2) button {
    background-color: #343148;
    color: #FFF;
}

.our-classes .yooga-figuer>div:first-child {
    width: 100%;
    height: 203px;
}

.our-classes .yooga-figuer div:first-child>img {
    width: 100%;
    height: 100%;
}

.our-classes .yooga-figuer div:nth-child(2) {
    display: flex;
    align-content: center;
    height: 40px;
    width: 80%;
    margin: auto;
    background-color: #FFF;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    top: -20px;
    box-shadow: 0 3px 2px 0 rgb(180, 180, 180);
}

.our-classes .yooga-figuer div:nth-child(2) div {
    display: flex;
    align-items: center;
}

.our-classes .yooga-figuer div:nth-child(2) div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F7CAC9;
}

.our-classes .yooga-figuer div:nth-child(2) div p {
    margin: 0;
    margin-left: 10px;
}

.our-classes .yooga-figuer div:nth-child(2) button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background: #F7CAC9;
    color: #000;
    transition: .5s;
}

.our-classes .yooga-figuer div:last-child {
    padding: 0 20px;
}

.our-classes .yooga-figuer div:last-child ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0 !important;
    padding: 0;
}

.our-classes .yooga-figuer div:last-child ul li {
    margin: 0 10px 0 0;
}


/* end our-classes */


/* strat class */

.class {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/discount-bg.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 80vh;
    background-size: contain;
    background-color: #DDD;
}

.class .row {
    min-height: 70vh;
}

@media (max-width:500px) {
    .class .row {
        height: 80vh;
    }
}

.class h1 {
    font-size: 48px;
    color: #343148;
    font-weight: 800;
}

.class h1 span {
    color: rgb(243, 9, 107);
}

.class p {
    font-size: 17px;
}


/* end class */


/* start Pricing-tabel */

.Pricing-tabel {
    padding: 60px 0;
    background-color: #FFF;
}

.Pricing-tabel div .bacgound {
    position: relative;
    width: 240px;
    margin: auto;
}

.Pricing-tabel div .bacgound::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 15px;
    height: 3px;
    left: 0;
    z-index: 1;
    background-color: #F7CAC9;
}

.Pricing-tabel div p:first-child {
    opacity: .9;
    font-weight: 500;
    position: relative;
    width: 160px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    margin: auto;
    color: rgb(158, 112, 112);
    background-color: #FFF;
}

.Pricing-tabel h2 {
    font-size: 40px;
    margin: 10px 0 40px 0;
    color: #343148;
    font-weight: 900;
    text-align: center;
}

.Pricing-tabel .p-t {
    width: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #F7CAC9;
}

.Pricing-tabel .p-t .info-tabel {
    padding: 25px 30px;
    background: #F7CAC9;
    color: #343148;
    font-weight: bolder;
}

.Pricing-tabel .p-t .info-tabel h3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Pricing-tabel .p-t .info-tabel h1 {
    font-size: 50px;
    margin: 10px 0 0 0;
}

.Pricing-tabel .p-t .info-tabel h1 span {
    font-size: 20px;
}

.Pricing-tabel .p-t .info-tabel h1 sup {
    font-size: 25px;
    position: relative;
    top: -20px !important;
}

.Pricing-tabel .p-t .join {
    margin: 20px 0 10px 0;
}

.Pricing-tabel .p-t .join ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Pricing-tabel .p-t .join ul li {
    padding: 5px 0;
    font-size: 20px;
    border-bottom: 1px solid #F7CAC9;
}

.Pricing-tabel .p-t .join ul li:last-child {
    border-bottom: none;
}

.Pricing-tabel .p-t .join button {
    padding: 12px 20px;
    border: 0;
    margin: 20px 0 0 0;
    font-weight: 500;
    transition: .3s;
    background-color: #DDD;
}

.Pricing-tabel .p-t .join button:hover {
    background-color: #343148;
    color: #F7CAC9;
}

.Pricing-tabel .p-t:nth-child(2) {
    position: relative;
}

.Pricing-tabel .p-t:nth-child(2) .info-tabel {
    background-color: #343148;
    color: #F7CAC9;
}

.Pricing-tabel .p-t:nth-child(2) .join button {
    background-color: #343148;
    color: #F7CAC9;
}

.Pricing-tabel .p-t:nth-child(2) .join button:hover {
    background-color: #DDD;
    color: #343148;
}

.Pricing-tabel .p-t:nth-child(2)::before {
    content: 'Popular';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #DDD;
    color: #343148;
    padding: 3px 10px;
}


/* end Pricing-tabel */


/* start Testimonial */

.Testimonial {
    background-color: #FFF;
    padding: 60px 0;
}

.Testimonial div .bacgound {
    position: relative;
    width: 240px;
    margin: auto;
}

.Testimonial div .bacgound::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 15px;
    height: 3px;
    left: 0;
    z-index: 1;
    background-color: #F7CAC9;
}

.Testimonial div .bacgound p {
    opacity: .9;
    font-weight: 500;
    position: relative;
    width: 160px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    margin: auto;
    color: rgb(158, 112, 112);
    background-color: #FFF;
}

.Testimonial h2 {
    font-size: 40px;
    margin: 10px 0 40px 0;
    color: #343148;
    font-weight: 900;
    text-align: center;
}

.Testimonial .width {
    width: 400px;
    margin: auto;
    transition: .5s;
}

.Testimonial .toggled {
    width: 280px;
    border: 1px solid #cccccc;
    height: 250px;
    display: inline-block;
    margin: 50px 60px 50px;
    background-color: #FFF;
}

.Testimonial .toggled .img {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    top: -45px;
    margin: auto;
    display: block;
    box-shadow: 0 0 1px 1px #CCCCCC;
}

.Testimonial .toggled img {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 10px solid #FFF;
}

.Testimonial .toggled .text {
    position: relative;
    top: -30px;
    text-align: center;
}

.Testimonial .toggled .text p {
    width: 80%;
    margin: auto;
    white-space: normal;
    margin-bottom: 10px;
    color: #666666;
}

.Testimonial .toggled .text h5 {
    color: #343148;
}

.Testimonial .toggled .text h6 {
    color: #666666;
}


/* end Testimonial */


/* start Trainer */

.Trainer {
    background-color: #FFF;
    padding: 20px 0;
}

.Trainer div .bacgound {
    position: relative;
    width: 240px;
    margin: auto;
}

.Trainer div .bacgound::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 15px;
    height: 3px;
    left: 0;
    z-index: 1;
    background-color: #F7CAC9;
}

.Trainer div .bacgound p {
    opacity: .9;
    font-weight: 500;
    position: relative;
    width: 160px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    margin: auto;
    color: rgb(158, 112, 112);
    background-color: #FFF;
}

.Trainer h2 {
    font-size: 40px;
    margin: 10px 0 40px 0;
    color: #343148;
    font-weight: 900;
    text-align: center;
}

.Trainer .img-T {
    width: 220px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 0 1px #CCCCCC;
}

.Trainer .img-T .img {
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.Trainer .img-T .img img {
    width: 100%;
    height: 100%;
    transition: .7s;
}

.Trainer .img-T .img .top1 {
    position: absolute;
    width: 100%;
    bottom: -100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .7s;
}

.Trainer .img-T .img .top1 i {
    background-color: #343148;
    color: #FFF;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: .4s;
    border-radius: 50%;
    margin-top: 151px;
}

.Trainer .img-T:hover .img .top1 i:first-child {
    transition: .3s 0s;
    margin-top: 0;
}

.Trainer .img-T:hover .img .top1 i:nth-child(2) {
    transition: .3s .1s;
    margin-top: 0;
}

.Trainer .img-T:hover .img .top1 i:nth-child(3) {
    transition: .3s .2s;
    margin-top: 0;
}

.Trainer .img-T:hover .img .top1 i:last-child {
    transition: .3s .3s;
    margin-top: 0;
}

.Trainer .img-T .img .top1 i:hover {
    background-color: #DDD;
    color: #343148;
    transition-delay: 0s !important;
    cursor: pointer;
}

.Trainer .img-T:hover .img .top1 {
    bottom: 0;
}

.Trainer .img-T:hover .img img {
    opacity: .5;
    transform: rotate(10deg) scale(1.2);
}

.Trainer .img-T .info h4 {
    color: #343148;
    font-size: 22px;
}

.Trainer .img-T .info h5 {
    color: #797979;
    font-weight: 400;
    font-size: 18px;
}


/* end Trainer */


/* start Blog */

.Blog {
    padding: 50px 0;
}

.Blog div .bacgound {
    position: relative;
    width: 240px;
    margin: auto;
}

.Blog div .bacgound::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 15px;
    height: 3px;
    left: 0;
    z-index: 1;
    background-color: #F7CAC9;
}

.Blog div .bacgound p {
    opacity: .9;
    font-weight: 500;
    position: relative;
    width: 160px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    z-index: 2;
    margin: auto;
    color: rgb(158, 112, 112);
    background-color: #FFF;
}

.Blog h2 {
    font-size: 40px;
    margin: 10px 0 40px 0;
    color: #343148;
    font-weight: 900;
    text-align: center;
}

.Blog .card {
    margin: 15px;
    width: 18rem;
    transition: .7s;
}

.Blog .card .card-body {
    padding: 20px;
}

.Blog .card .card-title {
    color: #343148;
    font-size: 25px;
}

.Blog .card ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.Blog .card ul li {
    margin: 0 5px;
    color: #797979;
}

.Blog .card .card-text {
    font-size: 20px;
    color: #797979;
}

.Blog .card .anthoer {
    background-color: transparent;
    padding: 8px 20px 8px 0;
    border: 0;
    transition: .5s;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}

.Blog .card .anthoer:hover {
    opacity: .5;
}


/* end Blog */


/* start footer */

footer {
    background: linear-gradient(rgba(52, 49, 72, .9), rgba(52, 49, 72, .9)), url(../img/footer-bg.png) no-repeat center center/contain;
    background-color: #343148;
    color: #FFF;
}

footer h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
}

footer h4 {
    font-weight: bold;
}

footer .s-m {
    font-size: 20px;
}

footer .s-m span:first-child {
    border-right: 1px solid #FFF;
    padding-right: 10px;
    margin-right: 10px;
}

footer .media {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .media i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 50%;
    transition: .5s;
}

footer .media i:hover {
    background-color: #FFF;
    color: #000;
    transform: scale(1.1) rotate(20deg);
}

footer .maked {
    border-top: 1px solid rgba(256, 256, 256, .1);
    padding: 20px 20px 5px;
    margin-top: 40px;
}

footer .maked p {
    font-weight: 700;
}

@media (max-width:700px) {
    .maked {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Testimonial .width {
        width: 100%;
    }
    .Testimonial .toggled {
        display: block;
        margin: 55px auto;
    }
    .Trainer .img-T {
        width: 340px;
    }
    .Trainer .img-T .img {
        height: 320px;
    }
    .our-classes button.buttons {
        margin: 10px;
    }
    .Pricing-tabel .p-t {
        margin: 10px 0;
    }
    .Blog .card {
        width: 90%;
    }
    .our-classes .yooga-figuer {
        width: 100%;
    }
    .our-classes .yooga-figuer>div:first-child {
        height: 350px;
    }
    .our-classes .yooga-figuer div:nth-child(2) {
        width: 90%;
    }
}

@media (max-width:600px) {
    .our-classes .yooga-figuer>div:first-child {
        height: 300px;
    }
}

@media (max-width:400px) {
    .our-classes .yooga-figuer>div:first-child {
        height: 250px;
    }
}


/* end footer */