.Input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 80px;
    margin-top: 10px;
}

.Error p {
    width: fit-content;
    padding: 8px 20px;
    border: 1px solid rgb(233, 75, 75);
    color: rgb(233, 75, 75);
    border-radius: 5px;
    opacity: 0;
    transition: .5s;
}

.Error p.Errors {
    animation: Op 1s linear forwards;
}

@keyframes Op {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.good {
    position: fixed;
    width: fit-content;
    padding: 10px;
    left: 0;
    bottom: 0;
    z-index: 10000;
}

.good>div {
    margin: 0;
    width: 330px;
    padding: 10px 10px;
    background: #e91e63;
    border-radius: 5px;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.good>div>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.good>div>div img {
    width: 30px;
}

.good>div p {
    text-align: left;
    width: 100%;
    padding: 0 0 0 10px;
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
    font-size: 17px;
}

.good>div>div i {
    cursor: pointer;
}