.info {
    width: 630px;
    margin: auto;
    margin-top: 10px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
}

.info h1 {
    margin-bottom: 20px;
}

.info p {
    margin-bottom: 20px;
    font-size: 19px;
    word-spacing: 2px;
}

.info a {
    text-decoration: none;
    color: #4DB5E3;
    padding: 0 10px;
}

@media (max-width:650px) {
    .info {
        width: 100%;
        text-align: center;
    }
}